body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #353A5A;
    font-size: 16px;
    line-height: 24px;
}
h1, h2, h3, h4, h5, h6, p, a, ul, li  {
    color: inherit;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}