.tariff {
    padding: 120px 0;
    margin-bottom: 120px;
    background-image: url(../images/tariff-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.tariff-wrapper {
    max-width: 508px;
    padding-left: 600px;
}
.tariff-title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 58px;
    line-height: 70px;
}
.tariff-descr {
    margin-bottom: 50px;
}
.tariff-btn {
    display: block;
    max-width: 230px;
    padding: 20px 56px;
    box-sizing: border-box;
    font-weight: 500;
    line-height: 16px;
    color: #FDFDFD;
    background: #FA9F42;
    border-radius: 0px 20px;
    transition: .3s;
}
.tariff-btn:hover {
    transform: scale(1.03);
}



/* ==================================================1250====================================== */
@media (max-width: 1250px) {
    .tariff-wrapper {
        padding-left: 0;
        margin-left: auto;
        margin-right: 30px;
    }
}


/* ==================================================962====================================== */
@media (max-width: 962px) {
    .tariff {
        background-image: none;
    }
    .tariff-wrapper {
        margin: 0 auto;
        text-align: center;
    }
    .tariff-btn {
        margin: 0 auto;
    }
}



/* ==================================================580====================================== */
@media (max-width: 580px) {
    .tariff {
        padding: 0;
        margin-bottom: 60px;
    }
    .tariff-title {
        font-size: 40px;
        line-height: 50px;
    }
    .tariff-descr {
        margin-bottom: 25px;
    }
}





/* ==================================================400====================================== */
@media (max-width: 400px) {
    .tariff-title {
        font-size: 33px;
        line-height: 43px;
    }
}